@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');


*{padding: 0px;
    margin: 0px;}

:root {
    --decofont: "Eagle Lake", serif;
    --fanfont: "Cinzel Decorative", serif;
    --color1:#F1F2C9;
    --color2:#F2CA52;
    --color3:#A68626;
    --color4:#8C0303;
}

p.meio{text-align: center;}

body {  background-color: #f2ca5290;
        font-size: 1.1em;
}

/*--------------HEADER SECTION --------------*/

header{ background-image: linear-gradient(to bottom,black ,#806003 ,#e1a900);
        padding: 0px;
        min-height: 150px;
        max-width: 100%;
        border: 10px;
        text-align: center;
        margin: auto;
}
header h1{  text-shadow: 1px 1px 3px black;
            padding-top: 30px;
            font-family: var(--decofont);
            color: #fdbe00;
                margin: auto;}

header p {   
        font-family: var(--decofont);    
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 1.em;
    color:#fdbe00;
    text-align: center;
    padding-right: 35px;
    margin: auto;}
/* -------------------------------NAV SECTION --------------------*/

nav {   text-align: center;
        padding: 20px;
        padding-bottom: 13px;
        background-image:linear-gradient( to right, black, #e1a900,black) ;
}

nav > a {       text-shadow: 2px 2px 3px black;
                text-decoration: none;
                color: var(--color1);
                padding: 15px;
                font-family:  var(--decofont);
                font-size: 1.1em;
                text-align: center;
}

nav a:hover {   
                text-decoration: underline;
                background-color: #f1f2c95c;
                transition-duration: 0.5s;
                border: 1px;
                border-radius: 2px;
                border-color: #A68626;
}

/*-----------MAIN SEXTION------------------*/


main {  font-family: var(--decofont);
        line-height: 1.5em;
        min-width: 250px;
        max-width: 900px;
        margin: auto;
        box-shadow: 1px 1px 1px 1px;
        padding: 20px;
        margin-bottom: 30px;
        background-image: linear-gradient(to bottom, #F2CA52, #A68626);}

main h2 {   font-family: var(--decofont);
            background-image: linear-gradient(to right,transparent, #F1F2C9, #8C0303, transparent);
            padding: 10px;
            margin: 0px;
}
main h3 {   font-family: var(--decofont);
        background-image: linear-gradient(to right,transparent, #F1F2C9, transparent);
            padding: 5px;
            padding-top: 15px;
            margin: 0px;
}

main img {  width: 100%;
        display: block;
        margin: auto;
}

img.elf{ padding-bottom: 30px;}
              
main img.pequeno {max-width: 200px;
                display: block;
                margin: auto;}

main a {
                color: #8C0303;
}

main a:hover {text-decoration: underline;
                font-weight: bold;
                }

main p a:hover ::before{content: '\1F517';}

main > a.elfani:hover{}

iframe{ display: block;
        width: 90%;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0);
        margin: auto;
        padding: auto;

}



a{  text-decoration: none;}



p{  text-align: justify;
    text-indent: 30px;
        padding-bottom: 15px;
        padding-top: 5px;}
/* -----------------Aside Section-----------------------*/
    article {   
        padding: 20px;
        border-color: rgba(0, 0, 0, 0.073);
    }
    
    aside.aside1 {background-color: #ecee92;
                border-radius: 12px 0px 12px 0px ;
                text-align: justify;
                padding: 0px;
                margin: auto;
                max-width: 70%;
                font-size: 0.8em;}

        .aside2 {background-image: linear-gradient(to bottom, transparent,#ecc03e44, transparent) ;
                        }


    aside ul {  
                list-style-type:'\2B50\00A0\00A0' ;
                list-style-position: inside;
                padding: 10px;
                font-size: 1em;
                }

                footer {        text-align: center;
                                background-color: #8C0303;
                                padding: 3px;
                                text-decoration: solid;
                                font-family:Arial, Helvetica, sans-serif;}