@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');


*{padding: 0px;
    margin: 0px;}

:root {
    --decofont: "Eagle Lake", serif;
    --fanfont: "Cinzel Decorative", serif;
    --color1:#F1F2C9;
    --color2:#F2CA52;
    --color3:#A68626;
    --color4:#8C0303;
}

p.meio{text-align: center;}

html, body { height: 100vh;
            width: 100vw;}
body {  background-image:url(../img/background1.jfif);
        background-size: cover;
        background-attachment: fixed;}


        /*background-color: #f2ca5290;
        font-size: vh 100%;
}

/*--------------HEADER SECTION --------------*/

header{ background-color: #00000058;
        padding: 0px;
        min-height: 150px;
        max-width: 100%;
        border: 10px;
        text-align: center;
        margin: auto;
}
header h1{  font-weight: bolder;
            font-size: 3em;
            text-shadow: 1px 1px 10px rgb(0, 0, 0);
            padding-top: 30px;
            font-family: var(--decofont);
            color:#ffbf00;
              }

header p {   
        font-weight: bold;
        font-family: var(--decofont);    
    text-shadow: 2px 2px 5px #000000;
    font-size: 1.6em;
    color:#F1F2C9;
    text-align: center;
    padding-right: 30px;
 }
/* -------------------------------NAV SECTION --------------------*/

nav {   text-align: center;
        padding: 20px;
        padding-bottom: 13px;
        background-image:linear-gradient( to right, black, #e1a900,black) ;
}

nav > a {       text-shadow: 2px 2px 3px black;
                text-decoration: none;
                color: var(--color1);
                padding: 15px;
                font-family:  var(--decofont);
                font-size: 1.1em;
                text-align: center;
}

nav a:hover {   
                text-decoration: underline;
                background-color: #f1f2c95c;
                transition-duration: 0.5s;
                border: 1px;
                border-radius: 2px;
                border-color: #A68626;
}

main {
    position: relative;
    height: 100vh;
}
/*623w 976h*/
section#quadro {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 615px;
    width: 415px;
    background-image:url(../img/quadro.png);
    background-size: cover;

}

section#quadro iframe{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 367px;
                    height: 560px;
                    transform: translate(-50%, -50%);}

#personagens a {    display: block;
                    font-weight: bolder;
                    font-family: var(--decofont);
                    color: white;
                    font-size: 1em;
                    border:1px solid black;
                    background-color: #A68626;
                    text-align: center;
                    margin: 3px;
                    padding: 5px;
                    border-radius: 10%;
                    box-sizing: border-box;
}


section#personagens {   left: 3%;
                        top: 30% ;
                        }

#personagens a:hover {
                        transition: 0.5s;
                        zoom: 110%;
                        border-color: rgb(0, 0, 0);
                        background-color: #e7c45b;
                        box-shadow: 2px 2px 5px black;
                        text-shadow: 2px 2px 5px black;
                        }

section#personagens { max-width: 100px;
                        max-height: 500px;
                    position: relative;}